<div
  class="flex justify-content-center align-content-center flex-column mx-5 my-4 md:flex-row justify-content-evenly mt-8"
>
  <app-home-button
    icon=" bi bi-receipt-cutoff"
    label="Crear Factura"
    class="m-2"
    path="/addReceipt"
  ></app-home-button>
  <app-home-button
    icon="bi bi-receipt"
    label="Ver Factura"
    class="m-2"
    path="/receipt"
  ></app-home-button>
  <app-home-button
    icon="bi bi-boxes"
    label="Ver Inventario"
    class="m-2"
    path="/inventory"
  ></app-home-button>
</div>

