<div class="m-4 text-gray-800 shadow-4 px-4 py-2 border-round">
  <form [formGroup]="formGroup" (ngSubmit)="submit()">
    <p class="text-4xl text-center font-bold">Agregar Nueva Factura</p>
    <ui-input-text
      [group]="formGroup"
      name="name"
      label="Nombre"
      customClass="w-full"
    ></ui-input-text>
    <ui-input-text
      [group]="formGroup"
      name="lastname"
      label="Apellido"
      customClass="w-full"
    ></ui-input-text>
    <ui-input-number
      [group]="formGroup"
      name="phoneNumber"
      label="Teléfono"
    ></ui-input-number>
    <ui-input-number
      [group]="formGroup"
      name="DNI"
      label="DNI"
    ></ui-input-number>
    <ui-input-text
      [group]="formGroup"
      name="address"
      label="Dirección"
      customClass="w-full"
    ></ui-input-text>
    <ui-input-text
      [group]="formGroup"
      name="email"
      label="Correo Electronico"
      customClass="w-full"
    ></ui-input-text>
    <ui-dropdown
    [group]="formGroup"
    name="branch"
    [options]="branches"
    optionLabel="fullName"
    optionValue="id"
    placeholder="Elegir..."
    label="Sucursal"
    ></ui-dropdown>
    <div class="flex justify-content-center">
      <ui-input-button label="Crear Factura"></ui-input-button>
    </div>
  </form>
</div>
