<div class="card bg-white m-4">
  <form [formGroup]="formGroup">
    <ui-dropdown
      [group]="formGroup"
      name="branch"
      [options]="branches"
      optionLabel="fullName"
      optionValue="id"
      placeholder="Elegir una sucursal..."
      errorMessage="Seleccionar una sucursal"
      (value)="getStock($event)"
    ></ui-dropdown>
    <div *ngIf="stocks.length != 0">
      <ui-crud-table
        [cols]="cols"
        [items]="stocks"
        searchPlaceholder="Buscar por..."
        [globalFilterFields]="['product.name']"
        [viewDetail]="false"
        deleteTooltip="Eliminar"
        [addComponent]="addComponent"
        addTitle="Añadir Stock"
        table="Stock"
        [addData]="depot"
        (message)="deleteStock($event)"
      ></ui-crud-table>
    </div>
  </form>
</div>
